<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Username" value=""/>
		<add key="Password" value=""/>
		<add key="IsStayLogged"/>
		<add key="BaseUrl" value="https://najsmumzxvblqolfshxr.supabase.co"/>
		<add key="apikey" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5hanNtdW16eHZibHFvbGZzaHhyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTY4MjI0ODM0MywiZXhwIjoxOTk3ODI0MzQzfQ.CW8xjHcIJlEan7sywfKJwkiaoG0mQFwA8Oa-YXuH89o"/>
	</appSettings>
</configuration>